@import url("//fonts.googleapis.com/css?family=Lato:700");

$dashboard-font: "proxima-nova", 'Helvetica Neue', 'Helvetica', 'sans-serif';

html{
  height: 100%;
}

.clear{
  clear: both;
}

body {
  background-color: #f1f1f1;
  height: 100%;
  margin:0;
  font-family:'Lato', sans-serif;
  text-align:center;
}

.table{
  min-width: 1880px;
  max-width: 1880px;
  min-height: 1040px;
  max-height: 1040px;
  overflow: hidden;
  background-color: #60b044;
  border: 20px solid #FFF;
  color: #FFF;
  position: relative;
}

.left-top{
  float: left;
  width: 935px;
  height: 520px;
  min-height: 520px;
  border-right: 5px solid #FFF;
  border-bottom: 5px solid #FFF;
  position: absolute;
  top: 0;
  left: 0;
}

.right-top{
  float: left;
  width: 940px;
  height: 520px;
  min-height: 520px;
  border-bottom: 5px solid #FFF;
  position: absolute;
  top: 0;
  left: 940px;
}

.left-bot{
  float: left;
  width: 935px;
  height: 515px;
  min-height: 515px;
  border-right: 5px solid #FFF;
  position: absolute;
  top: 525px;
  left: 0px;
}

.right-bot{
  float: left;
  width: 940px;
  height: 515px;
  min-height: 515px;
  position: absolute;
  top: 525px;
  left: 940px;
}





@-webkit-keyframes pulsate {
  0% { width:1px;height: 1px; opacity: 0.0}
  10% { width:3px;height: 3px; opacity: .20}
  20% { width:5px;height: 5px; opacity: .40 }
  30% { width:7px;height: 7px; opacity: .60 }
  40% { width:9px;height: 9px; opacity: .80 }
  50% { width:11px;height: 11px; opacity: 1.0}
  60% { width:13px;height: 13px; opacity: .80}
  70% { width:15px;height: 15px;  opacity: .60}
  80% { width:17px;height: 17px;  opacity: .40}
  90% { width:19px;height: 19px;  opacity: .20}
  100% { width:21px;height: 21px;  opacity: 0.0}
}
span.gg{
  display: block;
  font-size: 50px;
}
span>span{
  font-size: 500px;
  text-align:center;
}
button{
  margin-top: 50px;
  padding: 20px 20px;
  font-weight: bold;
  position: absolute;
  border: none;
  background-color: rgba(0,0,0,0.5);
}
span.gamepoint{
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite
}

#settings{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 10000;
  display: none;
}
.setting-option{
  width: 100%;
  margin-top: 100px;
  font-size: 80px;
}
.setting-option button{
  font-size: 40px;
}
#sound-pack, #game-score{
  font-size: 40px;
  line-height: 40px;
  height: 60px;
}

.button.transparent{
  background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.8);
  font-weight: 700;
  font-size: rem-calc(20);
  font-family: $dashboard-font;
  color: #f1f1f1;
}



// CREATE GAME
body.non-game{
  background-color: #FFF;
}

body.dashboard{
  background: -webkit-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* W3C */
  font-family: $dashboard-font;


  a.play{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000;

    svg{
      width: 40px;
      height: 40px;

      path{
        fill: rgba(255,255,255,0.8);
      }
    }
  }

  a.play:hover{
    svg{
      path{
        fill: rgba(255,255,255,1);
      }
    }
  }


  h1{
    color: #f1f1f1;
    padding: rem-calc(15 0);
    font-size: rem-calc(30);
    margin: rem-calc(0 0 25 0);
    border-bottom: 2px solid rgba(255,255,255, 0.5);
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    font-family: $dashboard-font;
  }

  h1 small{
    color: #f1f1f1;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    font-family: $dashboard-font;
  }

  h2{
    font-size: rem-calc(18);
    color: #f1f1f1;
    padding: rem-calc(10 0);
    margin: rem-calc(0 0 10 0);
    border-bottom: 2px solid rgba(255,255,255, 0.5);
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    font-family: $dashboard-font;
  }

  h2 small{
    color: #f1f1f1;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    font-family: $dashboard-font;
  }


  .alert-box.transparent{
    background-color: rgba(0,0,0,0.3);
    border: none;
    font-weight: 700;
    font-size: rem-calc(18);
    font-family: $dashboard-font;
    color: #f1f1f1;

    h3{
      font-weight: 700;
      font-family: $dashboard-font;
    }

    .up{
      color: #26A65B;
      font-size: rem-calc(14);
    }

    .down{
      color: #E74C3C;
      font-size: rem-calc(14);
    }

    .wns{
      color: #F27935;
    }

  }

  .line-legend li{
    line-height: 20px;
    color: #f1f1f1;
    font-size: rem-calc(11);
    line-height: rem-calc(14);
    text-transform: uppercase;
  }

  .line-legend li span{
    width: 8px;
    height: 8px;
    margin-right: 4px;
    display: inline-block;
  }

  .stat{
    display: block;
    font-size: rem-calc(12);
    text-transform: uppercase;
    padding-bottom: rem-calc(4);
    font-weight: 400;
    color: rgba(255,255,255,0.8);
  }

  .stat.tool{
    text-decoration: underline;
  }

}

.team-selection{
  width: 50%;
  float: left;
}

.players-list{
  margin-top: rem-calc(20);
}

.players-list input.checkbox{
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.players-list p{
  font-size: rem-calc(18);
  text-transform: capitalize;
  color: #f1f1f1;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}

.players-list label.selected p {
  color: #E74C3C !important;
  margin-bottom: 0px;
}

.profiles {
  padding: 0;

  li{
    padding-bottom: 0 !important;
  }
}

.profiles .profile-img {
  display: inline-block;
  -moz-border-radius: 60%;
  -webkit-border-radius: 60%;
  border-radius: 60%;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  border: 2px solid rgba(0,0,0,0.3);
  max-width: 300px;
  margin-bottom: 5px;
}

.players-list label.selected .profile-img{
  border: 3px solid #E74C3C;
}



input#playerName{
  padding: 7px 15px;
}

.response{
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  color: #60b044 !important;
}

.alert-box h3{
  color: #FFF;
  margin: 0;
  padding: 0;
  font-size: rem-calc(18);
}

.game-setting label{
  color: #f1f1f1;
  text-transform: uppercase;
  padding: rem-calc(10 0);
}

.game-setting input[type=radio] + label{
  font-size: rem-calc(16) !important;
}

#congrats{
  color: $black;
  font-weight: 700;
  text-shadow: none;
  font-size: rem-calc(50);
  padding: 0;
}

.button.play{
  background-color: rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.6);
  color: #f1f1f1;
}
