@font-face {
    font-family: 'sfsports';
    src: url('/fonts/sfsportsnight-webfont.eot');
    src: url('/fonts/sfsportsnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sfsportsnight-webfont.woff2') format('woff2'),
         url('/fonts/sfsportsnight-webfont.woff') format('woff'),
         url('/fonts/sfsportsnight-webfont.ttf') format('truetype'),
         url('/fonts/sfsportsnight-webfont.svg#sf_sports_nightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.sf-font{
	font-family: 'sfsports';
}